In [1]:
import pandas as pd
import nltk
from nltk.tokenize import RegexpTokenizer , TweetTokenizer
import re

In [6]:
df = pd.read_csv('D:/MSc/SEMESTER 3/NLP/twitter_training.csv')
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [7]:
df.isnull().sum()

2401                                                       0
Borderlands                                                0
Positive                                                   0
im getting on borderlands and i will murder you all ,    686
dtype: int64

In [8]:
df.rename(columns={'2401' : 'Index' , 'Borderlands': 'Land' , 'Positive' : 'Mode'
                   , "im getting on borderlands and i will murder you all ,": 'Tweets'}, inplace=True)

In [9]:
df.head(10)

,Index,Land,Mode,Tweets
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
5,2402,Borderlands,Positive,So I spent a few hours making something for fu...
6,2402,Borderlands,Positive,So I spent a couple of hours doing something f...
7,2402,Borderlands,Positive,So I spent a few hours doing something for fun...
8,2402,Borderlands,Positive,So I spent a few hours making something for fu...
9,2402,Borderlands,Positive,2010 So I spent a few hours making something f...

In [10]:
df.shape

(74681, 4)

In [11]:
df['Mode'].value_counts()

Mode
Negative      22542
Positive      20831
Neutral       18318
Irrelevant    12990
Name: count, dtype: int64

In [16]:
df['sentiments'] = df['Mode'].replace({'Positive' : 1 ,  'Negative' : 0 ,'Neutral':2 , 'Irrelevant' : 2 })

In [17]:
df.sample(10)

,Index,Land,Mode,Tweets,sentiments
73718,9029,Nvidia,Negative,Anyone notice the ratio between conferred get ...,0
45280,11774,Verizon,Neutral,[4729]Great! Apple iPhone 8 Mobile 64GB x Veri...,2
74637,9193,Nvidia,Positive,22 Love EVERYTHING All about it.,1
16826,9684,PlayStation5(PS5),Neutral,niggas be thinking bout the cost of the PS5 & ...,2
50081,6197,FIFA,Positive,The greatest Center Forward the game has seen,1
43243,10222,PlayerUnknownsBattlegrounds(PUBG),Negative,There is a bug from season three that makes th...,0
52252,10576,RedDeadRedemption(RDR),Negative,<unk>,0
35005,8014,Microsoft,Neutral,(Microsoft wins a five-year deal with Coca-Col...,2
15001,2969,Dota2,Negative,"server does not work, pls fix @ DA2",0
1889,2732,Borderlands,Neutral,Mayas death was the cheapest solution for Ava ...,2

In [23]:
def remove_tags(float):
    removelist = ""
    result = re.sub('','', float)#removing HTML Tags
    result = re.sub(r'[^w' + removelist + ']', ' ', result) #Remove non alpha numeric charecters
    result =  result.lower()
    return result

In [24]:
df ['Tweets'] = df['Tweets'].apply(lambda cw: remove_tags(cw))

TypeError: expected string or bytes-like object, got 'float'

In [26]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    st = ""
    for w in w_tokenizer.tokenize(text):
        st = st + lemmatizer.lemmatize(w) + " "
    return st
df ['Tweets'] = df['Tweets'].apply(lambda cw: lemmatize_text(cw))

TypeError: expected string or bytes-like object, got 'float'

In [29]:
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords


Stemmer = PorterStemmer()

# Define the regular expression pattern to match non-alphanumeric characters
pattern = r'[^a-zA-Z0-9\s]'

# Assuming stopwords_list is defined or imported elsewhere in your code
stopwords_list = set(stopwords.words('english'))

def stopwords_cleaner(text, stopwords_list):
    # Remove symbols using regular expression substitution
    text = re.sub(pattern, '', text)
    # Stemming and removing stopwords
    words = [Stemmer.stem(word) for word in text.split() if word not in stopwords_list]
    cleaned_text = ' '.join(words)
    return cleaned_text

# Assuming df['tweets'] contains the text data you want to clean
# Apply the stopwords_cleaner function to the 'tweets' column of the DataFrame
# Make sure to pass the stopwords_list as an argument
df['Tweets'] = df['Tweets'].apply(lambda x: stopwords_cleaner(x, stopwords_list))
df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\noelm\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

TypeError: expected string or bytes-like object, got 'float'

Multinomial Naive Bayes (MNB) is a popular machine learning algorithm for text classification problems in Natural Language Processing (NLP). It is particularly useful for problems that involve text data with discrete features such as word frequency counts. MNB works on the principle of Bayes theorem and assumes that the features are conditionally independent given the class variable.